.startButton {
    background-color: aqua;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    font-size: 10vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.bodyClass {
    display: flex;
    flex-direction: column;
}

.selectionSet {
    display: flex;
    flex: 1;
}

.selection {
    flex: 1;
    border: 3px solid red;
}