.startButton {
    background-color: aqua;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    font-size: 10vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.bodyClass {
    height: 98vh;
    display: flex;
    flex-direction: column;
}

.selectionSet {
    display: flex;
    flex: 4;
}

.computerSelection {
}

.playerSelection {
}

.selectionSetMargin {
    flex: 1;
    font-size: 20px;
    background-color: chartreuse;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selection {
    flex: 1;
    border: 3px solid black;
}

.computerHighlighted {
    border: 4px solid red;
}

.rock {
    background-image: url(/Users/brianhuang/repos/rockpaperscissors/icons/235135_v9_bc.jpg);
    background-size: cover;
}

.paper {
    background-image: url(/Users/brianhuang/repos/rockpaperscissors/icons/Toilet_paper_orientation_under.jpg);
    background-size: cover;
}

.scissors {
    background-image: url(/Users/brianhuang/repos/rockpaperscissors/icons/s-l1200.png);
    background-size: cover;
}

.playerSelection .rock:hover,
.playerSelection .paper:hover,
.playerSelection .scissors:hover {
    border: 4px solid aqua;
}

.selected {
    border: 4px solid blue;
}